.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
uuid.la
install-sh
lcov_data
libtool
ltmain.*
missing
mkinstalldirs
modules/
uuid-*.tgz
*.lo
*.o
*.dep
run-tests.php
tmp-php.ini
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
lcov_data
*~
sendpackagist
